* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva;
}

.outer-box {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    overflow: hidden;
}

.iner-box {
   width: 400px;
   margin: 0 auto;
   position: relative;
   top: 40%;
   transform: translateY(-50%);
   background-color: white;
   color: black;
   padding: 30px;
   border-radius: 8px;
}

.signup-header h1 {
   margin: 4px;
}

.signup-header p {
   margin: 5px;
   color: #555;
   font-size: 0.8rem;
}

.signup-body {
    margin: 15px 0;
}

.signup-body p {
    margin: 4px;
}

.signup-body p label {
    display: block;
    margin: 3px 0;
    font-weight: bold;
    font-size: 0.9rem;
}

.signup-body p input {
   width: 100%;
   padding: 8px;
   margin: 3px 0;
   font-size: 1rem;
   border: 2px solid #ccc;
}

.signup-body p input[type="submit"] {
    background-color: #61a88f;
    /* background-color: transparent; */
    color: whitesmoke;
    cursor: pointer;
    border: none;
}

.signup-body p input[type="submit"]:hover {
    background-color: #284a3e;
}

.signup-footer {
    text-align: center;
    font-size: 0.9rem;
    color: #555;
}

.signup-footer a {
    color: #284a3e;
}